/* Reset styles CSS*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body._lock {
  /* Needed for a burger and a popup */
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: inherit;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: top;
}

a,
a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

ul[class],
ol[class] {
  padding: 0;
}

ul li {
  list-style: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

/* //Reset styles CSS*/

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
}

[class*=__container] {
  width: 100%;
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #000;
}

.button {
  display: inline-block;
  padding: 14px 26px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #68B738;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: #5EAA2F;
}

.button:active {
  opacity: 0.3;
}

/* Burger */

.burger {
  position: static;
  padding: 53px 0px 0px 0px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 20;
}

.burger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  min-height: 40px;
}

.burger__logo {
  z-index: 5;
}

.burger__logo-img {
  width: 202px;
  height: 60px;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.burger__logo-img:hover {
  opacity: 0.8;
}

.burger__logo-img:active {
  opacity: 0.6;
}

.burger__logo-text {
  display: none;
  z-index: 5;
  width: 101px;
  height: 18px;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.burger__logo-text:hover {
  opacity: 0.8;
}

.burger__logo-text:active {
  opacity: 0.6;
}

.menu__icon {
  display: none;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  z-index: 4;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
  row-gap: 18px;
}

.menu__list li {
  position: relative;
  padding: 10px 0;
}

.menu__link {
  position: relative;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.menu__link:hover {
  opacity: 0.6;
}

.menu__link--active::after {
  position: absolute;
  content: "";
  margin-top: 8px;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: #68B738;
}

/* Header */

.header {
  position: relative;
  margin-bottom: 82px;
  height: 696px;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 49%;
  background: url("../img/home-page/header__background-img.png") 0 0/cover no-repeat;
  z-index: -1;
}

.header .burger__menu .menu__link {
  color: #fff;
}

.header .burger__menu .menu__link--active::after {
  background-color: #fff;
}

.header__inner {
  position: relative;
  margin: 111px 0px 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__text {
  margin: 40px 0px 52px 0px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.header__wrapper-img {
  position: absolute;
  top: -80px;
  left: 31%;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  z-index: -1;
}

.header__img {
  width: 100%;
  max-width: 552px;
  height: auto;
}

.header__button {
  width: 100%;
  max-width: 244px;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Program */

.program {
  margin-bottom: 64px;
}

.program__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
}

.program__item {
  width: 570px;
  height: 374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
}

.program__item--slim {
  padding: 70px 55px 51px 52px;
}

.program__item--pro {
  padding: 77px 61px 55px 52px;
}

.program__title {
  position: relative;
  padding-left: 145px;
  margin-bottom: 30px;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}

.program__icon--slim::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 106px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/home-page/program__slim.png") 50% 50%/cover no-repeat;
}

.program__icon--pro::before {
  content: "";
  position: absolute;
  width: 134px;
  height: 100px;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/home-page/program__pro.png") 50% 50%/cover no-repeat;
}

.program__link {
  position: relative;
  width: 100%;
  max-width: 166px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #000;
}

.program__link::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 12px;
  top: 50%;
  left: 130px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/home-page/program__arrow.svg") 50% 50%/cover no-repeat;
  -webkit-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.program__link:hover::before {
  width: 32px;
}

.program__link:active {
  opacity: 0.7;
}

.program__link:active::before {
  opacity: 0.7;
}

/* Features */

.features {
  padding-bottom: 11px;
}

.features__inner {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 37px;
}

.features__item {
  position: relative;
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px;
}

.features__item::after {
  position: absolute;
  content: "";
  height: 206px;
  top: 50px;
  right: 0;
  z-index: -1;
}

.features__item-one::after {
  width: 64px;
  right: 55px;
  background: url("../img/home-page/features__one.png") 50% 50%/cover no-repeat;
}

.features__item-two::after {
  width: 100px;
  background: url("../img/home-page/features__two.png") 50% 50%/cover no-repeat;
}

.features__item-three::after {
  width: 100px;
  background: url("../img/home-page/features__three.png") 50% 50%/cover no-repeat;
}

.features__item-four::after {
  width: 100px;
  background: url("../img/home-page/features__four.png") 50% 50%/cover no-repeat;
}

.features__item-icon {
  width: 80px;
  height: 80px;
}

.example {
  padding: 58px 0px 75px 0px;
  background: -o-linear-gradient(#fff 0, #fff 240px, #f2f2f2 240px, #f2f2f2 100%);
  background: linear-gradient(#fff 0, #fff 240px, #f2f2f2 240px, #f2f2f2 100%);
}

.example__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 59px;
}

.example__content {
  width: 100%;
  max-width: 436px;
}

.example__text {
  margin: 146px 0px 69px 0px;
}

.example__content-inner {
  width: 100%;
  max-width: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
}

.example__result-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.example__result-item {
  position: relative;
  width: 162px;
  height: 77px;
  font-size: 30px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example__result-text {
  position: absolute;
  padding: 0px 10px;
  top: 87%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #444444;
}

.example__costs-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 63px;
     -moz-column-gap: 63px;
          column-gap: 63px;
}

.example__costs-item {
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #000;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__content {
  position: relative;
  width: 640px;
  height: 536px;
}

.slider__image--before {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: url("../img/home-page/slider__cat1.png") 55% 50%/cover no-repeat;
  -webkit-transition: width 0.8s linear;
  -o-transition: width 0.8s linear;
  transition: width 0.8s linear;
  z-index: 1;
}

.slider__image--after {
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: url("../img/home-page/slider__cat2.png") 95% 50%/cover no-repeat, -o-linear-gradient(#fff 0, #fff 182px, #eaeaea 182px, #eaeaea 100%);
  background: url("../img/home-page/slider__cat2.png") 95% 50%/cover no-repeat, linear-gradient(#fff 0, #fff 182px, #eaeaea 182px, #eaeaea 100%);
  -webkit-box-shadow: 0px 128px 0px 0px rgb(234, 234, 234);
          box-shadow: 0px 128px 0px 0px rgb(234, 234, 234);
  -webkit-transition: width 0.8s linear;
  -o-transition: width 0.8s linear;
  transition: width 0.8s linear;
  z-index: 2;
}

.slider__change {
  margin-top: 19px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__btn {
  padding: 3px 0px;
  margin: 0px 20px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  -webkit-transition: border 0.2s ease-in;
  -o-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
  z-index: 4;
}

.slider__btn:hover {
  border-bottom: 1px solid #000000;
}

.slider__scale {
  position: relative;
  width: 100%;
  max-width: 420px;
  height: 6px;
  background: #DCDCDC;
  border-radius: 6px;
  z-index: 4;
}

.slider__grip {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  cursor: pointer;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  background: -o-radial-gradient(#68b738 0, #68b738 4px, #fff 5px, #fff 100%);
  background: radial-gradient(#68b738 0, #68b738 4px, #fff 5px, #fff 100%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}

.slider__grip:hover {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
}

.slider__grip:active {
  border-color: #68B738;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

/* Catalog */

.catalog {
  margin: 74px 0px 76px 0px;
}

.catalog__title {
  margin-bottom: 84px;
}

.catalog__inner {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 245px);
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 62px;
}

.catalog__item {
  padding: 0px 36px 40px 36px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-linear-gradient(#fff 0, #fff 70px, #f2f2f2 70px, #f2f2f2 100%);
  background: linear-gradient(#fff 0, #fff 70px, #f2f2f2 70px, #f2f2f2 100%);
}

.catalog__item:last-child {
  border-bottom: 1px solid #EBEBEB;
}

.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__item-image {
  margin-bottom: 46px;
}

.catalog__item-picture {
  width: 100%;
  max-width: 161px;
  height: auto;
}

.catalog__item-description {
  width: 100%;
}

.catalog__description-title {
  margin: 0px 0px 21px 0px;
  width: 100%;
  max-width: 158px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.catalog__description-wrapper {
  padding: 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #CDCDCD;
}

.catalog__description-text {
  color: #444444;
}

.catalog__button {
  display: inline-block;
  margin-top: 33px;
  padding: 10px 25px;
  width: 100%;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #68B738;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.catalog__button:hover {
  background-color: #5EAA2F;
}

.catalog__button:active {
  opacity: 0.3;
}

.more-item {
  padding: 51px 36px 40px 36px;
  width: 100%;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #F2F2F2;
}

.more-item__picture {
  width: 100%;
  max-width: 60px;
  height: auto;
}

.more-item__title {
  margin: 49px 0px 23px 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.more-item__text {
  margin-bottom: 80px;
  text-align: center;
}

.more-item__button {
  display: inline-block;
  padding: 10px 25px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.more-item__button:hover {
  background-color: #EBEBEB;
}

.more-item__button:active {
  opacity: 0.3;
}

.extra-goods {
  position: relative;
  margin-bottom: 86px;
}

.extra-goods__line {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  border: 2px solid #68B738;
  z-index: -1;
}

.extra-goods__title {
  margin: 0px 0px 80px -40px;
  display: inline-block;
  font-size: 36px;
  padding: 0px 35px 0px 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  background: #fff;
}

.extra-goods__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.extra-goods__list {
  width: 100%;
  max-width: 896px;
}

.extra-goods__item {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 26px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  border-top: 1px solid #CDCDCD;
}

.extra-goods__item:last-child {
  border-bottom: 1px solid #CDCDCD;
}

.extra-goods__item-title {
  width: 32%;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.extra-goods__item-content {
  width: 100%;
  max-width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.extra-goods__item-product {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
}

.extra-goods__item-price {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}

.extra-goods__item-button {
  display: inline-block;
  padding: 7px 25px;
  width: 100%;
  max-width: 244px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #68B738;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.extra-goods__item-button:hover {
  background-color: #5EAA2F;
}

.extra-goods__item-button:active {
  opacity: 0.3;
}

.extra-goods__image {
  padding: 56px 43px 43px 43px;
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/catalog/green-cat.png") 50% 50%/cover no-repeat;
}

.extra-goods__image-icon {
  width: 80px;
  height: 83px;
}

.extra-goods__image-text {
  margin-top: 25px;
  color: #fff;
  text-align: center;
}

/* Forma */

.form {
  margin: 74px 0px 82px 0px;
}

.form__sub-title {
  margin: 56px 0px 66px 0px;
  width: 100%;
  max-width: 324px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #000;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.form__inner {
  width: 100%;
  max-width: 570px;
}

.form__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__item:last-child {
  margin-bottom: 0px;
}

.form__item input {
  padding: 10px 20px;
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #444444;
  background-color: transparent;
  border: 1px solid #e7e7e7;
}

.form__item input:focus {
  border: 2px solid #444444;
}

.form__item input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.form__item input::-moz-placeholder {
  text-transform: uppercase;
}

.form__item input:-ms-input-placeholder {
  text-transform: uppercase;
}

.form__item input::-ms-input-placeholder {
  text-transform: uppercase;
}

.form__item input::placeholder {
  text-transform: uppercase;
}

.form__catEnergy-label {
  margin-right: 14px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
  color: #444444;
}

.form__item-radio {
  padding: 25px 28px;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e7e7e7;
}

.form__item-group label {
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
  color: #222222;
}

.form__real-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.form__custom-radio {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  vertical-align: text-top;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  background-color: #fff;
}

.form__custom-radio::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #68b738;
}

.form__real-radio:checked + .form__custom-radio::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.form__line-title {
  position: relative;
}

.form__line-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20%;
  width: 140%;
  height: 2px;
  background-color: #68b738;
  overflow: hidden !important;
  z-index: -1;
}

.form__user-title {
  margin: 69px 0px 76px 0px;
}

.form__title {
  display: inline-block;
  padding: 0px 40px;
  margin-left: -40px;
  font-size: 36px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  background-color: #fff;
}

.form__user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.form__contact-email,
.form__contact-phone {
  position: relative;
  width: 100%;
}

.form__contact-email::before,
.form__contact-phone::before {
  position: absolute;
  content: "";
  right: 20px;
  top: 33%;
}

.form__contact-email::before {
  background: url("../img/icon-email.svg") 50% 50%/cover no-repeat;
  width: 18px;
  height: 13px;
}

.form__contact-phone::before {
  background: url("../img/icon-phone.svg") 50% 50%/cover no-repeat;
  width: 20px;
  height: 20px;
}

.form__comments-title {
  margin: 69px 0px 76px 0px;
}

.form__comments {
  border: 1px solid #e7e7e7;
}

.form__comments textarea {
  padding: 15px 20px;
  width: 100%;
  height: 174px;
  font-size: 20px;
  font-family: "Oswald";
  font-weight: 400;
  resize: none;
  color: #444444;
}

.form__comments textarea::-webkit-input-placeholder {
  font-size: inherit;
  text-transform: uppercase;
}

.form__comments textarea::-moz-placeholder {
  font-size: inherit;
  text-transform: uppercase;
}

.form__comments textarea:-ms-input-placeholder {
  font-size: inherit;
  text-transform: uppercase;
}

.form__comments textarea::-ms-input-placeholder {
  font-size: inherit;
  text-transform: uppercase;
}

.form__comments textarea::placeholder {
  font-size: inherit;
  text-transform: uppercase;
}

.form__additionally-title {
  margin: 67px 0px 57px 0px;
}

.form__additionally-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 32px;
}

.form__additionally-item {
  width: 221px;
}

.form__additionally-item label {
  font-size: 20px;
  font-family: "Oswald";
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #000;
}

.form__real-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.form__custome-checkbox {
  position: relative;
  margin-right: 26px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  background-color: #fff;
  vertical-align: sub;
}

.form__custome-checkbox::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 18px;
  height: 14px;
  background: url("../img/checked.svg") 50% 50%/cover no-repeat;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.form__real-checkbox:checked + .form__custome-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.form__button-wrapper {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 21px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.form__button {
  width: 100%;
  max-width: 570px;
}

/* Footer */

.footer {
  background-color: #fff;
}

.footer__top {
  width: 100%;
}

.footer__top-wrapper {
  position: relative;
  height: 100%;
}

.footer__top-content {
  position: absolute;
  padding: 66px 89px 51px 76px;
  width: 570px;
  height: 201px;
  top: 80px;
  left: 0;
  background-color: #fff;
  z-index: 5;
}

.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top-title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  width: 100%;
  max-width: 163px;
  text-transform: uppercase;
  color: #111111;
}

.footer__top-text {
  margin-bottom: 20px;
}

.footer__top-map {
  width: 100%;
  height: 400px;
}

.footer__bottom {
  background-color: #f2f2f2;
}

.footer__bottom-content {
  padding: 57px 0px 58px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__link-icon {
  max-width: 100%;
  width: 128px;
  height: auto;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.footer__link-icon:hover {
  opacity: 0.8;
}

.footer__link-icon:active {
  opacity: 0.6;
}

.footer__social-list {
  width: 100%;
  max-width: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__social-item--vk:hover .footer__social-icon {
  fill: #68B738;
}

.footer__social-item--vk:active .footer__social-icon {
  opacity: 0.3;
}

.footer__social-item--instagram:hover .footer__social-icon {
  fill: #68B738;
}

.footer__social-item--instagram:active .footer__social-icon {
  opacity: 0.3;
}

.footer__social-item--fb:hover .footer__social-icon {
  stroke: #68B738;
}

.footer__social-item--fb:active .footer__social-icon {
  opacity: 0.3;
}

.footer__social-icon {
  width: 100%;
  max-width: 30px;
  height: auto;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer__copyright-link {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  color: #444444;
}

.footer__copyright-link:hover .footer__copyright-logo {
  fill: #68B738;
}

.footer__copyright-link:active {
  opacity: 0.7;
}

.footer__copyright-logo {
  -webkit-transition: fill 0.2s ease-in;
  -o-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}

.footer__copyright-logo:active {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .extra-goods__title {
    margin: 0px 0px 80px 0px;
  }

  .extra-goods__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 69px;
  }

  .extra-goods__list {
    max-width: 708px;
  }

  .extra-goods__item {
    padding: 26px 37px 28px 37px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
  }

  .extra-goods__item-button {
    max-width: none;
  }

  .extra-goods__image {
    padding: 57px 120px 60px 78px;
    width: 100%;
    max-width: 708px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: url("../img/catalog/green-catTablet.png") 0 0/cover no-repeat;
  }

  .extra-goods__image-text {
    margin-top: 0px;
    width: 100%;
    max-width: 160px;
    text-align: left;
  }
}

@media (max-width: 992px) {
  .burger {
    padding: 42px 0px 0px 0px;
  }

  .burger__logo-img {
    width: 174px;
    height: 51.68px;
  }

  .menu__list {
    -webkit-column-gap: 34px;
       -moz-column-gap: 34px;
            column-gap: 34px;
    row-gap: 18px;
  }

  .menu__link {
    font-size: 18px;
    color: #000;
  }

  .menu__link:active {
    color: #000;
    opacity: 1;
  }

  .menu__link--active::after {
    margin-top: 10px;
  }

  .header {
    margin-bottom: 0px;
    height: 880px;
  }

  .header::before {
    display: none;
  }

  .header .burger__menu .menu__link {
    color: #000;
  }

  .header .burger__menu .menu__link--active::after {
    background-color: #68B738;
  }

  .header__inner {
    margin: 62px 0px 0px 87px;
  }

  .header__text {
    margin: 41px 0px 49px 0px;
  }

  .header__wrapper-img {
    top: 75%;
    left: 0;
  }

  .program {
    margin-bottom: 45px;
  }

  .program__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .program__item {
    width: 100%;
  }

  .program__item--slim {
    padding: 77px 62px 53px 52px;
  }

  .program__item--pro {
    padding: 77px 62px 53px 52px;
  }

  .program__title {
    padding: 0px;
    margin-bottom: 0px;
  }

  .program__icon--slim::before {
    width: 200px;
    height: 211px;
    top: 230%;
    left: 400px;
  }

  .program__icon--pro::before {
    width: 268px;
    height: 200px;
    top: 230%;
    left: 370px;
  }

  .program__description {
    padding-bottom: 50px;
    width: 100%;
    max-width: 377px;
  }

  .features {
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  .features__title {
    margin-bottom: 32px;
  }

  .features__inner {
    -ms-grid-columns: 230px 230px;
    grid-template-columns: 230px 230px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .example {
    padding: 43px 0px 64px 0px;
    background: -o-linear-gradient(#fff 0, #fff 400px, #f2f2f2 400px, #f2f2f2 100%);
    background: linear-gradient(#fff 0, #fff 400px, #f2f2f2 400px, #f2f2f2 100%);
  }

  .example__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .example__content {
    max-width: none;
  }

  .example__text {
    margin: 63px 0px 54px 0px;
  }

  .example__content-inner {
    max-width: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }

  .example__result-text {
    background-color: #fff;
  }

  .example__costs-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 0;
  }

  .slider {
    width: 100%;
  }

  .slider__image--after {
    background: url("../img/home-page/slider__cat2.png") 95% 50%/cover no-repeat, #f2f2f2;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .catalog {
    margin: 64px 0px 68px 0px;
  }

  .catalog__inner {
    grid-template-columns: repeat(auto-fit, 324px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }

  .catalog__item-image {
    margin-bottom: 34px;
  }

  .more-item {
    height: 460px;
  }

  .extra-goods {
    margin-bottom: 76px;
  }

  .form {
    margin: 72px 0px 65px 0px;
  }

  .form__sub-title {
    margin: 56px 0px 66px 34px;
  }

  .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 72px;
  }

  .form__inner {
    margin-left: 38px;
    width: 90%;
    max-width: none;
  }

  .form__title {
    margin-left: 0px;
  }

  .form__user-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .form__comments-title {
    margin: 65px 0px 74px 0px;
  }

  .form__comments {
    margin-left: 40px;
  }

  .form__additionally-list {
    margin-left: 40px;
    max-width: 565px;
  }

  .form__button-wrapper {
    margin: 54px 0px 0px 40px;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }

  .form__button {
    max-width: 280px;
  }

  .footer__top-content {
    position: static;
    padding: 66px 43px 51px 41px;
    width: 100%;
  }

  .footer__top-address {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .burger {
    padding: 11px 0px 17px 0px;
  }

  .burger__logo-img {
    width: 33.32px;
    height: 37.61px;
  }

  .burger__logo-text {
    display: block;
  }

  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    padding: 100px 30px 30px 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
  }

  .menu__list li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
  }

  .header {
    margin-bottom: 22px;
    height: auto;
  }

  .header__inner {
    margin: 44px 0px 22px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .header__text {
    margin: 25px 0px 29px 0px;
  }

  .header__wrapper-img {
    position: static;
  }

  .header__button {
    max-width: none;
  }

  .program {
    margin-bottom: 27px;
  }

  .program__inner {
    row-gap: 20px;
  }

  .program__item {
    height: 266px;
  }

  .program__item--slim {
    padding: 30px 33px 18px 19px;
  }

  .program__item--pro {
    padding: 30px 33px 18px 19px;
  }

  .program__title {
    padding-left: 73px;
  }

  .program__icon--slim::before {
    width: 50px;
    height: 53px;
    top: 50%;
    left: 0;
  }

  .program__icon--pro::before {
    width: 67px;
    height: 50px;
    top: 50%;
    left: -10px;
  }

  .program__description {
    padding-bottom: 20px;
    max-width: none;
  }

  .example__result-inner {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .slider__content {
    width: 540px;
    height: 430px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 36px;
    line-height: 40px;
  }

  .button {
    width: 100%;
    padding: 7px 44px;
    font-size: 14px;
  }

  .burger {
    border-bottom: 1px solid #D9D9D9;
  }

  .header::before {
    display: block;
    top: 69px;
    left: 0;
    background: url("../img/home-page/header__background-mobile.png") 0 0/contain no-repeat;
  }

  .header__title {
    color: #fff;
  }

  .header__text {
    font-size: 14px;
    color: #fff;
  }

  .program__title {
    font-size: 24px;
  }

  .program__description {
    font-size: 14px;
    border-bottom: 1px solid #d9d9d9;
  }

  .program__link {
    font-size: 16px;
  }

  .features {
    padding-bottom: 42px;
  }

  .features__title {
    margin-bottom: 38px;
  }

  .features__inner {
    gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .features__item {
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }

  .features__item::after {
    display: none;
  }

  .features__item-icon {
    width: 60px;
    height: 60px;
  }

  .example {
    padding: 27px 0px 25px 0px;
    background: #E5E5E5;
  }

  .example__inner {
    row-gap: 26px;
  }

  .example__text {
    margin: 33px 0px 25px 0px;
    font-size: 14px;
  }

  .example__content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .example__result-item {
    width: 124px;
    height: 64px;
    font-size: 24px;
  }

  .example__result-text {
    padding: 0px 5px;
    width: 77px;
    font-size: 12px;
    text-align: center;
    background-color: #E5E5E5;
  }

  .example__costs-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2px;
  }

  .example__costs-item {
    font-size: 14px;
  }

  .slider__content {
    width: 311px;
    height: 232px;
  }

  .slider__image--after {
    width: 0%;
    background: url("../img/home-page/slider__cat2.png") 95% 50%/cover no-repeat;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .slider__btn {
    padding: 0px;
    margin: 0px 10px;
    font-size: 16px;
    border: none;
  }

  .slider__scale {
    width: 84px;
    height: 14px;
    background: #fff;
    border: 1px solid #CDCDCD;
  }

  .slider__grip {
    margin: 0 20px;
    left: 0;
    height: 6px;
    background: #68B738;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .catalog {
    margin: 27px 0px 20px 0px;
  }

  .catalog__title {
    margin-bottom: 41px;
  }

  .catalog__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .catalog__item {
    padding: 20px 0px 25px 0px;
    background: transparent;
    border-top: 1px solid #EBEBEB;
  }

  .catalog__wrapper {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .catalog__item-image {
    margin: 0;
    width: 24%;
  }

  .catalog__item-picture {
    max-width: 120px;
  }

  .catalog__item-description {
    max-width: 142px;
  }

  .catalog__description-title {
    margin: 0px 0px 18px 0px;
    max-width: 125px;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
  }

  .catalog__description-wrapper {
    padding: 4px 0px;
    border: none;
  }

  .catalog__description-text {
    font-size: 12px;
  }

  .catalog__button {
    margin-top: 13px;
  }

  .more-item {
    padding: 25px 0px;
    height: 208px;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-left: none;
    border-right: none;
  }

  .more-item__picture {
    max-width: 30px;
  }

  .more-item__title {
    margin: 23px 0px 8px 0px;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
  }

  .more-item__text {
    margin-bottom: 21px;
    font-size: 12px;
  }

  .extra-goods {
    margin-bottom: 35px;
  }

  .extra-goods__line {
    top: 20px;
  }

  .extra-goods__title {
    margin: 0px 0px 35px -20px;
    padding: 0px 22px 0px 20px;
    font-size: 24px;
  }

  .extra-goods__wrapper {
    row-gap: 39px;
  }

  .extra-goods__item {
    padding: 13px 0px 19px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 0px;
    border-left: none;
    border-right: none;
  }

  .extra-goods__item-title {
    font-size: 16px;
  }

  .extra-goods__item-content {
    margin: 13px 0px 15px 0px;
    max-width: none;
  }

  .extra-goods__item-product {
    font-size: 14px;
  }

  .extra-goods__item-price {
    font-size: 14px;
  }

  .extra-goods__image {
    padding: 58px 0px 43px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 48px;
    background: url("../img/catalog/green-cat.png") 50% 50%/cover no-repeat;
  }

  .extra-goods__image-icon {
    width: 78px;
    height: 80px;
  }

  .extra-goods__image-text {
    text-align: center;
  }

  .form {
    margin: 27px 0px 32px 0px;
  }

  .form__sub-title {
    font-size: 14px;
    max-width: 226px;
    margin: 37px 0px 39px 0px;
  }

  .form__wrapper {
    gap: 24px;
  }

  .form__inner {
    margin: 0;
    width: 100%;
  }

  .form__item {
    margin-bottom: 12px;
  }

  .form__item input {
    padding: 10px 40px 10px 15px;
    height: 45px;
    font-size: 16px;
  }

  .form__catEnergy-label {
    font-size: 16px;
  }

  .form__item-radio {
    padding: 20px;
    height: 160px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: none;
    border-right: none;
  }

  .form__item-group label {
    font-size: 16px;
  }

  .form__custom-radio {
    margin-right: 15px;
    width: 30px;
    height: 30px;
  }

  .form__custom-radio::before {
    width: 13px;
    height: 13px;
  }

  .form__user-title {
    margin: 26px 0px 32px 0px;
  }

  .form__title {
    padding: 0px 15px;
    margin-left: -15px;
    width: 100%;
    max-width: 230px;
    font-size: 24px;
  }

  .form__user-wrapper {
    gap: 14px;
  }

  .form__comments-title {
    margin: 27px 0px 34px 0px;
  }

  .form__comments {
    margin-left: 0px;
  }

  .form__comments textarea {
    padding: 15px;
    height: 150px;
    font-size: 16px;
  }

  .form__additionally-title {
    margin: 27px 0px 34px 0px;
  }

  .form__additionally-list {
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 20px;
  }

  .form__additionally-item label {
    font-size: 16px;
  }

  .form__custome-checkbox {
    margin-right: 18px;
    width: 30px;
    height: 30px;
  }

  .form__button-wrapper {
    margin: 34px 0px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .form__button {
    max-width: none;
    font-size: 16px;
  }

  .footer__top-content {
    padding: 28px 0px 22px 0px;
    height: auto;
  }

  .footer__top-title {
    font-size: 16px;
  }

  .footer__top-address {
    text-align: left;
    font-size: 14px;
  }

  .footer__top-text {
    margin: 0;
  }

  .footer__bottom-content {
    padding: 39px 0px 22px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }

  .footer__link {
    margin-bottom: 32px;
  }

  .footer__social-list {
    margin-bottom: 22px;
    padding: 20px 0px 21px 0px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    max-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 36px;
  }

  .footer__copyright-link {
    width: 100%;
    max-width: 281px;
  }
}