.catalog{
    margin: 74px 0px 76px 0px;
    @include tablet {
        margin: 64px 0px 68px 0px;
    }
    @include phone {
        margin: 27px 0px 20px 0px;
    }
    &__title{
        margin-bottom: 84px;
        @include phone {
            margin-bottom: 41px;
        }
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(auto-fit, 245px);
        justify-items: center;
        align-items: flex-end;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 62px;
        @include tablet {
            grid-template-columns: repeat(auto-fit, 324px);
            justify-content: center;
            gap: 60px;
        }
        @include phone {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }
    &__item{
        padding: 0px 36px 40px 36px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#fff 0, #fff 70px, #f2f2f2 70px, #f2f2f2 100%);
        @include phone {
            padding: 20px 0px 25px 0px;
            background: transparent;
            border-top: 1px solid #EBEBEB;
        }
    }
    &__item:last-child{
        border-bottom: 1px solid #EBEBEB;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        @include phone {
            width: 100%;
            justify-content: space-evenly;
            flex-direction: row;
        }
    }
    &__item-image{
        margin-bottom: 46px;
        @include tablet {
            margin-bottom: 34px;
        }
        @include phone {
            margin: 0;
            width: 24%;
        }
    }
    &__item-picture{
        width: 100%;
        max-width: 161px;
        height: auto;
        @include phone {
            max-width: 120px;
        }
    }
    &__item-description{
        width: 100%;
        @include phone {
            max-width: 142px;
        }
    }
    &__description-title{
        margin: 0px 0px 21px 0px;
        width: 100%;
        max-width: 158px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: #222222;
        @include phone {
            margin: 0px 0px 18px 0px;
            max-width: 125px;
            font-size: 16px;
            line-height: 1.2;
            text-align: left;
        }
    }
    &__description-wrapper{
        padding: 8px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #CDCDCD;
        @include phone {
            padding: 4px 0px;
            border: none;
        }
    }
    &__description-text{
        color: $second-color;
        @include phone {
            font-size: 12px;
        }
    }
    &__button{
        display: inline-block;
        margin-top: 33px;
        padding: 10px 25px;
        width: 100%;
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background-color: #68B738;
        transition: background-color 0.2s ease-in;
        &:hover {
          background-color: #5EAA2F;
        }
        &:active {
          opacity: 0.3;
        }
        @include phone {
            margin-top: 13px;
        }
    }
}
.more-item{
    padding: 51px 36px 40px 36px;
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid #F2F2F2;
    @include tablet {
        height: 460px;
    }
    @include phone {
        padding: 25px 0px;
        height: 208px;
        border-top: 1px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
        border-left: none;
        border-right: none;
    }
    &__picture{
        width: 100%;
        max-width: 60px;
        height: auto;
        @include phone {
            max-width: 30px;
        }
    }
    &__title{
        margin: 49px 0px 23px 0px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: #222222;
        @include phone {
            margin: 23px 0px 8px 0px;
            font-size: 16px;
            line-height: 1.2;
            text-align: left;
        }
    }
    &__text{
        margin-bottom: 80px;
        text-align: center;
        @include phone {
            margin-bottom: 21px;
            font-size: 12px;
        }
    }
    &__button{
        display: inline-block;
        padding: 10px 25px;
        width: 100%;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        color: $second-color;
        text-align: center;
        text-transform: uppercase;
        background-color: #F2F2F2;
        transition: background-color 0.2s ease-in;
        &:hover {
            background-color: #EBEBEB;
        }
        &:active {
            opacity: 0.3;
        }
    }
}
.extra-goods{
    position: relative;
    margin-bottom: 86px;
    @include tablet {
        margin-bottom: 76px;
    }
    @include phone {
        margin-bottom: 35px;
    }
    &__line{
        position: absolute;
        width: 100%;
        top: 30px;
        left: 0;
        border: 2px solid #68B738;
        z-index: -1;
        @include phone {
            top: 20px;
        }
    }
    &__title{
        margin: 0px 0px 80px -40px;
        display: inline-block;
        font-size: 36px;
        padding: 0px 35px 0px 40px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        background: #fff;
        @include desktop-min {
            margin: 0px 0px 80px 0px;
        }
        @include phone {
            margin: 0px 0px 35px -20px;
            padding: 0px 22px 0px 20px;
            font-size: 24px;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @include desktop-min {
            flex-direction: column;
            row-gap: 69px;
        }
        @include phone {
            row-gap: 39px;
        }
    }
    &__list{
        width: 100%;
        max-width: 896px;
        @include desktop-min {
            max-width: 708px;
        }
    }
    &__item{
        padding: 15px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 26px;
        column-gap: 10px;
        border-top: 1px solid #CDCDCD;
        &:last-child{
            border-bottom: 1px solid #CDCDCD;
        }
        @include desktop-min {
            padding: 26px 37px 28px 37px;
            flex-wrap: wrap;
            border-left: 1px solid #CDCDCD;
            border-right: 1px solid #CDCDCD;
        }
        @include phone {
            padding: 13px 0px 19px 0px;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 0px;
            border-left: none;
            border-right: none;
        }
    }
    &__item-title{
        width: 32%;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
        @include phone {
            font-size: 16px;
        }
    }
    &__item-content{
        width: 100%;
        max-width: 285px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        @include phone {
            margin: 13px 0px 15px 0px;
            max-width: none;
        }
    }
    &__item-product{
        font-size: 16px;
        font-family: 'Arial', sans-serif; 
        font-weight: 400;
        color: $second-color;
        @include phone {
            font-size: 14px;
        }
    }
    &__item-price{
        font-size: 16px;
        font-family: 'Arial', sans-serif; 
        font-weight: 400;
        text-transform: uppercase;
        color: $second-color;
        @include phone {
            font-size: 14px;
        }
    }
    &__item-button{
        display: inline-block;
        padding: 7px 25px;
        width: 100%;
        max-width: 244px;
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background-color: #68B738;
        transition: background-color 0.2s ease-in;
        &:hover {
          background-color: #5EAA2F;
        }
        &:active {
          opacity: 0.3;
        }
        @include desktop-min {
            max-width: none;
        }
    }
    &__image{
        padding: 56px 43px 43px 43px;
        width: 250px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url("@img/catalog/green-cat.png") 50% 50%/cover no-repeat;
        @include desktop-min {
            padding: 57px 120px 60px 78px;
            width: 100%;
            max-width: 708px;
            justify-content: space-between;
            flex-direction: row;
            background: url("@img/catalog/green-catTablet.png") 0 0/cover no-repeat;
        }
        @include phone {
            padding: 58px 0px 43px 0px;
            flex-direction: column;
            gap: 48px;
            background: url("@img/catalog/green-cat.png") 50% 50%/cover no-repeat;
        }
    }
    &__image-icon{
        width: 100%;
        max-width: 80px;
        height: auto;
    }
    &__image-text{
        margin-top: 25px;
        color: #fff;
        text-align: center;
        @include desktop-min {
            margin-top: 0px;
            width: 100%;
            max-width: 160px;
            text-align: left;
        }
        @include phone {
            text-align: center;
        }
    }
}