.form {
    margin: 74px 0px 82px 0px;
    @include tablet {
        margin: 72px 0px 65px 0px;
    }
    @include phone {
        margin: 27px 0px 32px 0px;
    }
    &__sub-title {
        margin: 56px 0px 66px 0px;
        width: 100%;
        max-width: 324px;
        font-size: 20px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        color: $first-color;
        @include tablet {
            margin: 56px 0px 66px 34px;
        }
        @include phone {
            font-size: 14px;
            max-width: 226px;
            margin: 37px 0px 39px 0px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 72px;
        }
        @include phone {
            gap: 24px;
        }
    }
    &__inner {
        width: 100%;
        max-width: 570px;
        @include tablet {
            margin-left: 38px;
            width: 90%;
            max-width: none;
        }
        @include phone {
            margin: 0;
            width: 100%;
        }
    }
    &__item {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-child {
            margin-bottom: 0px;
        }
        @include phone {
            margin-bottom: 12px;
        }
        input {
            padding: 10px 20px;
            height: 50px;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
            font-family: "Oswald", sans-serif;
            color: $second-color;
            background-color: transparent;
            border: 1px solid #e7e7e7;
            &:focus {
                border: 2px solid #444444;
            }
            &::placeholder {
                text-transform: uppercase;
            }
            @include phone {
                padding: 10px 40px 10px 15px;
                height: 45px;
                font-size: 16px;
            }
        }
    }
    &__catEnergy-label {
        margin-right: 14px;
        font-size: 20px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        cursor: pointer;
        text-transform: uppercase;
        white-space: nowrap;
        color: $second-color;
        @include phone {
            font-size: 16px;
        }
    }
    &__item-radio {
        padding: 25px 28px;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid #e7e7e7;
        @include phone {
            padding: 20px;
            height: 160px;
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
            border-left: none;
            border-right: none;
        }
    }
    &__item-group {
        label {
            font-size: 20px;
            font-weight: 400;
            font-family: "Oswald", sans-serif;
            cursor: pointer;
            text-transform: uppercase;
            white-space: nowrap;
            color: #222222;
            @include phone {
                font-size: 16px;
            }
        }
    }
    &__real-radio {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    &__custom-radio {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        width: 40px;
        height: 40px;
        vertical-align: text-top;
        border-radius: 50%;
        border: 1px solid #cdcdcd;
        background-color: #fff;
        @include phone {
            margin-right: 15px;
            width: 30px;
            height: 30px;
        }
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #68b738;
            @include phone {
                width: 13px;
                height: 13px;
            }
        }
    }
    &__real-radio:checked + &__custom-radio::before {
        transform: translate(-50%, -50%) scale(1);
        transition: 0.2s ease-in;
    }
    &__line-title {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -20%;
            width: 140%;
            height: 2px;
            background-color: #68b738;
            overflow: hidden !important;
            z-index: -1;
        }
    }
    &__user-title {
        margin: 69px 0px 76px 0px;
        @include phone {
            margin: 26px 0px 32px 0px;
        }
    }
    &__title {
        display: inline-block;
        padding: 0px 40px;
        margin-left: -40px;
        font-size: 36px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        background-color: #fff;
        @include tablet {
            margin-left: 0px;
        }
        @include phone {
            padding: 0px 15px;
            margin-left: -15px;
            width: 100%;
            max-width: 230px;
            font-size: 24px;
        }
    }
    &__user-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
        @include phone {
            gap: 14px;
        }
    }
    &__contact-email,
    &__contact-phone {
        position: relative;
        width: 100%;
        &::before {
            position: absolute;
            content: "";
            right: 20px;
            top: 33%;
        }
    }
    &__contact-email {
        &::before {
            background: url("@img/icon-email.svg") 50% 50%/cover no-repeat;
            width: 18px;
            height: 13px;
        }
    }
    &__contact-phone {
        &::before {
            background: url("@img/icon-phone.svg") 50% 50%/cover no-repeat;
            width: 20px;
            height: 20px;
        }
    }
    &__comments-title {
        margin: 69px 0px 76px 0px;
        @include tablet {
            margin: 65px 0px 74px 0px;
        }
        @include phone {
            margin: 27px 0px 34px 0px;
        }
    }
    &__comments {
        border: 1px solid #E7E7E7;
        @include tablet {
            margin-left: 40px;
        }
        @include phone {
            margin-left: 0px;
        }
        textarea{
            padding: 15px 20px;
            width: 100%;
            height: 174px;
            font-size: 20px;
            font-family: 'Oswald';
            font-weight: 400;
            resize: none;
            color: $second-color;
            @include phone {
                padding: 15px;
                height: 150px;
                font-size: 16px;
            }
            &::placeholder {
                font-size: inherit;
                text-transform: uppercase;
            }
        }
    }
    &__additionally-title {
        margin: 67px 0px 57px 0px;
        @include phone {
            margin: 27px 0px 34px 0px;
        }
    }
    &__additionally-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 80px;
        row-gap: 32px;
        @include tablet {
            margin-left: 40px;
            max-width: 565px;
        }
        @include phone {
            margin-left: 0px;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 20px;
        }
    }
    &__additionally-item {
        width: 221px;
        label {
            font-size: 20px;
            font-family: 'Oswald';
            font-weight: 400;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: $first-color;
            @include phone {
                font-size: 16px;
            }
        }
    }
    &__real-checkbox {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -1;
    }
    &__custome-checkbox {
        position: relative;
        margin-right: 26px;
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 1px solid #CDCDCD;
        cursor: pointer;
        background-color: #fff;
        vertical-align: sub;
        @include phone {
            margin-right: 18px;
            width: 30px;
            height: 30px;
        }
        &::before {
            position: absolute;
            display: inline-block;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 18px;
            height: 14px;
            background: url("@img/checked.svg") 50% 50%/cover no-repeat;
            transition: 0.2s ease-in;
        }
    }
    &__real-checkbox:checked + &__custome-checkbox::before{
        transform: translate(-50%, -50%) scale(1);
    }
    &__button-wrapper {
        margin-top: 61px;
        display: flex;
        align-items: center;
        row-gap: 21px;
        column-gap: 80px;
        @include tablet {
            margin: 54px 0px 0px 40px;
            column-gap: 60px;
        }
        @include phone {
            margin: 34px 0px 0px 0px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__button {
        width: 100%;
        max-width: 570px;
        @include tablet {
            max-width: 280px;
        }
        @include phone {
            max-width: none;
            font-size: 16px;
        }
    }
}
