@import "../scss/base/reset.scss";
@import "../scss/fonts.scss";
@import "../scss/base/media-requests.scss";
@import "../scss/base/adaptive-property.scss";
@import "../scss/base/global.scss";
// Basic structure of the document
@import "../scss/burger.scss";
@import "../scss/header.scss";
.program {
    margin-bottom: 64px;
    @include tablet {
        margin-bottom: 45px;
    }
    @include tablet-min {
        margin-bottom: 27px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        row-gap: 30px;
        @include tablet {
            flex-direction: column;
        }
        @include tablet-min {
            row-gap: 20px;
        }
    }
    &__item {
        width: 570px;
        height: 374px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #f2f2f2;
        @include tablet {
            width: 100%;
        }
        @include tablet-min {
            height: 266px;
        }
    }
    &__item--slim {
        padding: 70px 55px 51px 52px;
        @include tablet {
            padding: 77px 62px 53px 52px;
        }
        @include tablet-min {
            padding: 30px 33px 18px 19px;
        }
    }
    &__item--pro {
        padding: 77px 61px 55px 52px;
        @include tablet {
            padding: 77px 62px 53px 52px;
        }
        @include tablet-min {
            padding: 30px 33px 18px 19px;
        }
    }
    &__title {
        position: relative;
        padding-left: 145px;
        margin-bottom: 30px;
        font-size: 36px;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        color: $first-color;
        @include tablet {
            padding: 0px;
            margin-bottom: 0px;
        }
        @include tablet-min {
            padding-left: 73px;
        }
        @include phone {
            font-size: 24px;
        }
    }
    &__icon--slim {
        &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 106px;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            background: url("@img/home-page/program__slim.png") 50% 50% / cover no-repeat;
        }
        @include tablet {
            &::before {
                width: 200px;
                height: 211px;
                top: 230%;
                left: 400px;
            }
        }
        @include tablet-min {
            &::before {
                width: 50px;
                height: 53px;
                top: 50%;
                left: 0;
            }
        }
    }
    &__icon--pro {
        &::before {
            content: "";
            position: absolute;
            width: 134px;
            height: 100px;
            top: 50%;
            left: -20px;
            transform: translate(0, -50%);
            background: url("@img/home-page/program__pro.png") 50% 50% / cover no-repeat;
        }
        @include tablet {
            &::before {
                width: 268px;
                height: 200px;
                top: 230%;
                left: 370px;
            }
        }
        @include tablet-min {
            &::before {
                width: 67px;
                height: 50px;
                top: 50%;
                left: -10px;
            }
        }
    }
    &__description {
        @include tablet {
            padding-bottom: 50px;
            width: 100%;
            max-width: 377px;
        }
        @include tablet-min {
            padding-bottom: 20px;
            max-width: none;
        }
        @include phone {
            font-size: 14px;
            border-bottom: 1px solid #d9d9d9;
        }
    }
    &__link {
        position: relative;
        width: 100%;
        max-width: 166px;
        font-size: 20px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        color: $first-color;
        &::before {
            position: absolute;
            content: "";
            width: 24px;
            height: 12px;
            top: 50%;
            left: 130px;
            transform: translate(0, -50%);
            background: url("@img/home-page/program__arrow.svg") 50% 50% / cover no-repeat;
            transition: width 0.2s ease-in;
        }
        &:hover {
            &::before {
                width: 32px;
            }
        }
        &:active {
            opacity: 0.7;
            &::before {
                opacity: 0.7;
            }
        }
        @include phone {
            font-size: 16px;
        }
    }
}
.features {
    padding-bottom: 11px;
    @include tablet {
        padding-bottom: 47px;
        border-bottom: 1px solid #e6e6e6;
    }
    @include phone {
        padding-bottom: 42px;
    }
    &__title {
        @include tablet {
            margin-bottom: 32px;
        }
        @include phone {
            margin-bottom: 38px;
        }
    }
    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 37px;
        @include tablet {
            grid-template-columns: 230px 230px;
            justify-content: center;
            column-gap: 50px;
        }
        @include phone {
            gap: 20px;
            grid-template-columns: 1fr;
        }
    }
    &__item {
        position: relative;
        width: 100%;
        height: 280px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 31px;
        &::after {
            position: absolute;
            content: "";
            height: 206px;
            top: 50px;
            right: 0;
            z-index: -1;
        }
        @include phone {
            height: auto;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            gap: 20px;
            &::after {
                display: none;
            }
        }
    }
    &__item-one {
        &::after {
            width: 64px;
            right: 55px;
            background: url("@img/home-page/features__one.png") 50% 50% / cover no-repeat;
        }
    }
    &__item-two {
        &::after {
            width: 100px;
            background: url("@img/home-page/features__two.png") 50% 50% / cover no-repeat;
        }
    }
    &__item-three {
        &::after {
            width: 100px;
            background: url("@img/home-page/features__three.png") 50% 50% / cover no-repeat;
        }
    }
    &__item-four {
        &::after {
            width: 100px;
            background: url("@img/home-page/features__four.png") 50% 50% / cover no-repeat;
        }
    }
    &__item-icon {
        width: 80px;
        height: 80px;
        @include phone {
            width: 60px;
            height: 60px;
        }
    }
}
.example {
    padding: 58px 0px 75px 0px;
    background: linear-gradient(#fff 0, #fff 240px, #f2f2f2 240px, #f2f2f2 100%);
    @include tablet {
        padding: 43px 0px 64px 0px;
        background: linear-gradient(#fff 0, #fff 400px, #f2f2f2 400px, #f2f2f2 100%);
    }
    @include phone {
        padding: 27px 0px 25px 0px;
        background: #E5E5E5;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        column-gap: 10px;
        row-gap: 59px;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
        @include phone {
            row-gap: 26px;
        }
    }
    &__content {
        width: 100%;
        max-width: 436px;
        @include tablet {
            max-width: none;
        }
    }
    &__text {
        margin: 146px 0px 69px 0px;
        @include tablet {
            margin: 63px 0px 54px 0px;
        }
        @include phone {
            margin: 33px 0px 25px 0px;
            font-size: 14px;
        }
    }
    &__content-inner {
        width: 100%;
        max-width: 366px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 55px;
        @include tablet {
            max-width: none;
            flex-direction: row;
            gap: 10px;
        }
        @include phone {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__result-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
        @include tablet-min {
            column-gap: 15px;
        }
    }
    &__result-item {
        position: relative;
        width: 162px;
        height: 77px;
        font-size: 30px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        color: $first-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #cdcdcd;
        border-radius: 6px;
        @include phone {
            width: 124px;
            height: 64px;
            font-size: 24px;
        }
    }
    &__result-text {
        position: absolute;
        padding: 0px 10px;
        top: 87%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        font-size: 14px;
        font-family: "Arial", sans-serif;
        font-weight: 400;
        background-color: #f2f2f2;
        color: $second-color;
        @include tablet {
            background-color: #fff;
        }
        @include phone {
            padding: 0px 5px;
            width: 77px;
            font-size: 12px;
            text-align: center;
            background-color: #E5E5E5;
        }
    }
    &__costs-inner {
        display: flex;
        align-items: center;
        column-gap: 63px;
        @include tablet {
            flex-direction: column;
            align-items: flex-end;
            gap: 0;
        }
        @include phone {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2px;
        }
    }
    &__costs-item {
        font-size: 20px;
        font-weight: 400;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        color: $first-color;
        @include phone {
            font-size: 14px;
        }
    }
}
.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include tablet {
        width: 100%;
    }
    &__content{
        position: relative;
        width: 640px;
        height: 536px;
        @include tablet-min {
            width: 540px;
            height: 430px;
        }
        @include phone {
            width: 311px;
            height: 232px;
        }
    }
    &__image--before{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: url("@img/home-page/slider__cat1.png") 55% 50%/cover no-repeat;
        transition: width .8s linear;
        z-index: 1;
    }
    &__image--after{
        position: absolute;
        width: 50%;
        height: 100%;
        bottom: 0;
        right: 0;
        background: url("@img/home-page/slider__cat2.png") 95% 50%/cover no-repeat, linear-gradient(#fff 0,#fff 182px,#eaeaea 182px,#eaeaea 100%);
        box-shadow: 0px 128px 0px 0px rgba(234, 234, 234, 1);
        transition: width .8s linear;
        z-index: 2;
        @include tablet {
            background: url("@img/home-page/slider__cat2.png") 95% 50%/cover no-repeat, #f2f2f2;
            box-shadow: none;
        }
        @include phone {
            width: 0%;
            background: url("@img/home-page/slider__cat2.png") 95% 50%/cover no-repeat;
            box-shadow: none;
        }
    }
    &__change{
        margin-top: 19px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn {
        padding: 3px 0px;
        margin: 0px 20px;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        cursor: pointer;
        color: $first-color;
        text-transform: uppercase;
        border-bottom: 1px dotted rgba(0,0,0,.3);
        transition: border .2s ease-in;
        z-index: 4;
        @include phone {
            padding: 0px;
            margin: 0px 10px;
            font-size: 16px;
            border: none;
        }
        &:hover {
            border-bottom: 1px solid #000000;
        }
    }
    &__scale {
        position: relative;
        width: 100%;
        max-width: 420px;
        height: 6px;
        background: #DCDCDC;
        border-radius: 6px;
        z-index: 4;
        @include phone {
            width: 84px;
            height: 14px;
            background: #fff;
            border: 1px solid #CDCDCD;
        }
    }
    &__grip {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 34px;
        height: 34px;
        cursor: pointer;
        border: 1px solid #cdcdcd;
        border-radius: 50%;
        background: radial-gradient(#68b738 0,#68b738 4px,#fff 5px,#fff 100%);
        box-shadow: (0px 1px 3px rgba(0, 0, 0, 0.16));
        transition: box-shadow .2s ease-in;
        @include phone {
            margin: 0 20px;
            left: 0;
            height: 6px;
            background: #68B738;
            border: none;
            border-radius: 6px;
            box-shadow: none;
        }
        &:hover {
            box-shadow: (0px 2px 4px rgba(0, 0, 0, 0.19));
        }
        &:active {
            border-color: #68B738;
            box-shadow: (0px 3px 5px rgba(0, 0, 0, 0.2));
        }
    }
}
@import "../scss/catalog.scss";
@import "../scss/form.scss";
@import "../scss/footer.scss";
